<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
          <ion-back-button defaultHref="/carrers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{carrer.nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" hidden >
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="carrer.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center" >{{carrer.nombre}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="carrer.coments && carrer.coments.length > 0; noComents" >
          <ion-item *ngFor="let coment of carrer.coments">
            {{coment}}
          </ion-item>
          <ion-button (click)="start(carrer.audio, $event)" color="dark" style="display:block; margin:auto; margin-top:10px;">
            <ion-icon name="headset-outline" slot="start"></ion-icon>
            Reproducir Audio
          </ion-button>
  
          <ion-footer *ngIf="activeAudio" class="ion-text-center">
            <ion-button *ngIf="activeAudio == carrer.audio && !isPlaying" color="dark" (click)="togglePlayer(false)">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>
  
            <ion-button *ngIf="activeAudio == carrer.audio && isPlaying" color="dark" (click)="togglePlayer(true)">
              <ion-icon slot="icon-only" name="pause"></ion-icon>
            </ion-button>
          </ion-footer>
        </ion-list>
        <ng-template #noComents>
          <ion-text>
            <p class="ion-text-center">No description yet</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>