ion-content {
    #map {
      width: 350px;
      height: 330px;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
  }

  #indicators {
    padding: 5px;
    height: 250px;
    width: 350px;
    overflow-y: auto;
    display: block;
  }