<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>¿Tienes alguna duda?</ion-card-subtitle>
          <ion-card-title>Contáctanos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Este es nuestro telefono:
            <ion-label>
              <p>81 83 29 40 30</p>
            </ion-label>
          Direccion:
          <ion-label>
            <p>Av. Universidad s/n. Ciudad Universitaria San Nicolás de los Garza, Nuevo León, C.P. 66451</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <!-- <ion-button (click)="getLocation()" expand="block" shape="round">
        Click me
      </ion-button> -->
        <div id="map"></div>
        <!-- boton para prueba -->
        <!-- <ion-button (click)="getLocation()" expand="block" shape="round" >
          Click me
        </ion-button> -->
        <!-- <div id="indicators"></div> -->
    </ion-row>
  </ion-grid>
</ion-content>
